<%- include("header") -%>

  <div class="header-box" id="heading">
    <h1> <%= listTitle %> </h1>
      <a href="/edit">
        <button class="pager">NEXT</button>
      </a>
  </div>

  <div class="box">

  <%  newListItems.forEach(function(item){ %>

    <form action="/delete" method="post">
      <div id="click" class="item">
        <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
        <p><%=item.name%></p>
      </div>
      <input type="hidden" name="listName" value="<%= listTitle %>"></input>
    </form>
  <%  }) %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" id="addButton" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

<%- include("footer") -%>
